body{
    border: 10px solid #bdc7cf;
    font-family: 'Source Sans Pro', sans-serif;
}
.date{
   color: #3098dd; 
   text-transform: uppercase;
   letter-spacing: 3px;
   margin: 20px;
}

.title{
    margin: 20px;
    color: #354b63;
}

p{
    margin: 20px;
}

.paragraph1{
    border-left: 5px solid #bdc7cf;
    margin: 20px;
    padding: 5px;
}

hr{
    width: 80%;
    margin: 0 auto;
    margin-top: 2%;
    display:block;
  }